<div class="main-container">
  <div class="fixed-text">
    <h3>Recorrido dentro de nuestro bosque privado
      @if(selectedId !== null) {
      <span class="selected-item">{{selectedId + 1}}</span>
      }
    </h3>
    <img src="./img/superquads.png" alt="Super Quads logo" class="logo">
  </div>
  <div class="wheel-wrapper" #wheelWrapper>
    <img class="llanta-img" src="./img/Llanta.png" alt="Llanta" />
    <div class="ring">
      @for (item of items; track item.text; let i = $index) {
      <div class="dot" [style.--i]="i">
        <div class="foto-frame" (click)="selectedItem(item.id, $event)" (mouseenter)="handleFrameHover(item.id, $event)"
          (touchend)="handleTouchEnd($event)" [class.active]="selectedId === item.id" [class.touch-active]="false">
          <img class="cuadra-img" src="./img/foto.jpg" alt="">
          <div class="cuadra-text">
            <p>{{item.text}}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
