<div class="navbar-container">
  <div class="navbar">
    <div class="navbar-left">
      <img src="./img/superquads.png" alt="Super Quads Logo" class="logo">
      <div class="links">
        <a class="link">Tour</a>
        <a class="link">Galería de aventuras</a>
        <a class="link">Acerca de</a>
      </div>
    </div>

    <div class="navbar-right">
      <img src="./img/whatsapp.png" alt="User Icon" class="whatsapp-icon">
      <img src="./img/tiktok.png" alt="User Icon" class="tiktok-icon">
      <img src="./img/instagram.png" alt="User Icon" class="instagram-icon">
      <button class="booking-button">
        Reservar <i class="arrow fa-solid fa-circle-arrow-right"></i>
      </button>
    </div>
  </div>
</div>